 <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                  <!-- Column -->
                  <div class="col-lg-4 col-xlg-3 col-md-5">
                      <div class="card">
                          <div class="card-body">
                              <div class="m-t-30"> 
                                <img [src]="usuario.img | imagen" class="img-circle" width="150" height="120">
                                  <h4 class="card-title m-t-10">{{usuario.nombre}}</h4>
                                  
                                  <h6 class="card-subtitle">Cliente </h6>
                                  <br>
                                  <label class="custom-file">
                                        <input (change)="onFileChanged($event)" type="file" id="file" class="custom-file-input">
                                        <span class="custom-file-control">Seleccionar</span>
                                      </label>
                                  <br>
                                  <br>
                                  <button (click)="onUpload()" [disabled] = "!selectedFile" class="btn  btn-pinterest m-r-10">
                                      <i class="fa fa-save"></i>
                                      Actualizar imagen
                                  </button>
                                  <div class="row text-center justify-content-md-center">
                                       
                                  </div>
                                </div>
                          </div>
                          <div>
                              <hr> </div>
                          <div class="card-body"> <small class="text-muted">Email: </small>
                              <h6>{{usuario.email}}</h6> <small class="text-muted p-t-30 db">Telefono:</small>
                              <h6>{{cliente[0].telefono}}</h6> <small class="text-muted p-t-30 db">Direccion:</small>
                              <h6>{{cliente[0].domicilio}}</h6>
                            
                          </div>
                      </div>
                  </div>
                  <!-- Column -->
                  <!-- Column -->
                   <!-- Column -->
                   <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Perfil</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Mi estado actual</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                           
                            <!--second tab-->
                            <div class="tab-pane active" id="profile" role="tabpanel">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Nombre Completo:</strong>
                                            <br>
                                            <p class="text-muted">{{usuario.nombre }}</p>
                                        </div>
                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Numero de telefono:</strong>
                                            <br>
                                            <p class="text-muted">{{cliente[0].telefono}}</p>
                                        </div>
                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Email:</strong>
                                            <br>
                                            <p class="text-muted">{{usuario.email}}</p>
                                        </div>
                                        <div class="col-md-3 col-xs-6"> <strong>Domicilio:</strong>
                                            <br>
                                            <p class="text-muted">{{cliente[0].domicilio}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="m-t-30">Necesitas motivacion ? </p>
                                    <p>Aprende a realizar pequeñas acciones a diario que, aun imperceptiblemente, te acerquen un poco más a los resultados que quieres conseguir. </p>
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body">
                                            <h4 class="card-title">Evolucion:</h4>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-3"><img [src]="usuario.img | imagen" class="img-fluid"></div>
                                                <div class="col-lg-8 col-md-9 ps ps--theme_default ps--active-y" id="slimtest1"  data-ps-id="99cd751f-56b9-5bdf-b9c6-4ec890dcc522">
                                                    <div>
                                                        <p>Peso: {{estado.peso}} Kg.</p>
                                                        <p>Indice de masa corporal: {{estado.IMC}} </p>
                                                        <p>Estatura: {{estado.estatura}} Mts.</p>
                                                        <p>Pecho: {{estado.pecho}} CM.</p>
                                                        <p>Brazo: {{estado.brazo}} CM.</p>
                                                        <p>Cintura: {{estado.cintura}} CM.</p>
                                                        <p>Gluteo:{{estado.gluteo}} CM.</p>
                                                        <p>Muslo:{{estado.muslo}} CM.</p>
                                                    </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- Column -->