<!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Raul Martinez</h3> <small>Instructor</small>
                                    <address>
                                        Horario de atencion : 6:00 a.m. a 12:00 p.m.
                                        <br/>
                                        <br/>
                                        <abbr title="Phone">T:</abbr> 6871407778
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/users/2.jpg" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Prueba Nombre</h3> <small>Instructor</small>
                                    <address>
                                            Horario de atencion : 12:00 p.m. a 10:00 p.m.
                                        <br/>
                                        <br/>
                                        <abbr title="Phone">T:</abbr> 6871407778
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- .col -->
                    <div class="col-md-6 col-lg-6 col-xlg-4">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 text-center">
                                    <a href="app-contact-detail.html"><img src="../assets/images/users/3.jpg" alt="user" class="img-circle img-responsive"></a>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <h3 class="box-title m-b-0">Nombre de instructor</h3> <small>Instructor</small>
                                    <address>
                                            Horario de atencion : 12:00 p.m. a 10:00 p.m.
                                        <br/>
                                        <br/>
                                        <abbr title="Phone">T:</abbr> 6871407778
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->